*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-main);
}

body{
	$gradient:linear-gradient(107deg, #4D2669 0.73%, #2F152F 36.11%, #290D1B 58.22%, #371223 74%, #641B3C 96.7%), linear-gradient(90deg, #4D2669 -8.38%, #2F152F 30.13%, #290D1B 51.18%, #371223 77.65%, #641B3C 107.13%);
	background: url('/static/background/background-pattern.webp'),rgba(10, 10, 10, 0.487);
	color: white;
	background-blend-mode: multiply;
	background-size: cover;
}