#container_commission{
	overflow: hidden;
	min-height: 100vh;
	.commission-info-panel{
		height: 30vw;
		width: 50vw;
		left: 15%;
		position: relative;
		top: 2vw;
		margin: 0 auto;
		background: linear-gradient(90deg, rgb(35, 19, 47) 0.28%, #424776 143.2%);
		border: .2vw solid #EEB74D;
		box-shadow: 0vw .2vw 3vw .5vw rgba(0, 0, 0, 0.502);

		padding: 2vw;
		.detail{
			text-align: right;
			.title{
				font-size: 2.8vw;
				color: #FFB160;
			}
			.sub-title{
				font-size: 1.5vw;
				opacity: .5;
			}
			.price{
				font-size: 4vw;
				text-shadow: none;
			}
		}
		.showcase{
			transform: translateY(-35%);
			.title{
				color:#FFB160;
				font-size: 2vw;
				margin: .5vw 0;
			}
			.img-part{
				display: grid;
				grid-template-columns: 2fr 1fr;
				align-items: end;
				max-width: 80%;
				gap: 2vw;
				img{
					height: 19vw;
					width: 100%;
					object-fit: cover;
					background-color: #272021;
					outline: .2vw solid #DF5377;
					border: none;
					&.img-small{
						height: 10vw;
					}
					cursor: pointer;
					transition: all 250ms ease;
					&:hover{
						scale: .95;
						object-fit: contain;
						filter: brightness(50%);
					}
				}
			}
		}

		.decor{
			position: absolute;
			height: 100%;
			width: 100%;
			pointer-events: none;
			user-select: none;
			top: 0%;
			left: 0%;
			.decor_cloud{
				position: absolute;
				bottom: -8%;
				right: -4%;
				scale: -1;
				width: 9vw;
			}

			.text-part{
				height: 100%;
				left: -2.5%;
				position: absolute;
				width: min-content;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: 1vw;

				font-size: 1vw;
				hr{
					height: 100%;
					width: .1vw;
					background-color: white;
					border: none;
					border-radius: .4vw;
				}
			}
		}
	}

	
	.table{
		overflow: hidden;
		height: 20vw;
		position: absolute;
		bottom: 0%;
		z-index: -400;
		width: 100%;
		// background-color: green;
		.decor_table{
			width: 100%;
			position: relative;
			bottom: -42%;
			scale: 1.2;
		}
	}

	.cards{
		position: fixed;
		height: 20vw;
		padding: 2vw;
		display: flex;
		bottom: 0%;
		right: 10vw;
		width: 100%;
		justify-content: end;
		padding-left: 10vw;

		.card{
			margin-right: -3vw;
			transform: translateY(4vw);
			transition: all 250ms ease;
			box-shadow: 0vw .2vw 1vw .5vw rgba(0, 0, 0, 0.6);
			
			height: 120%;
			width: 13vw;
			background: #302A2A;
			display: flex;
			align-items: center;
			justify-content: start;
			flex-direction: column;
			gap: .5vw;
			border: .2vw solid #FFC90C;
			border-radius: .8vw;
			cursor: pointer;
			
			padding: .5vw;

			&:hover{
				transform: translateY(2vw);
				outline: .1vw solid white  ;
				border: .2vw solid #DF5377;
				.icon,.name{
					filter: invert(0%);

				}
				box-shadow: 0vw -.1vw 1vw .5vw rgba(255, 187, 29, 0.756);

			}

			&:active{
				scale: .9;
			}
			.name{
				font-size: 2vw;
				text-align: center;
			}
			.icon{
				width: 5vw;
				opacity: .5;
			}
			.icon,.name{
				filter: invert(70%);
			}
		}
	}

	.character{
		height: 100%;
		background-color: rebeccapurple;
		position: absolute;
		top: 0%;
		left: 0%;
		display: flex;
		flex-direction: column;
		.portrait{
			position: absolute;
			width: 34vw;
			object-fit: contain;
			left: 0%;
			z-index: -2000;
			// background-color: red;
			bottom: 10%;
			transition: bottom 250ms ease;
			&:hover{
				bottom: 15%;
			}
		}
		.dialogue-box{
			position: absolute;
			width: 30vw;
			bottom: 10%;
			left: 2vw;
			height: 13vw;
			background-color: #23132F;
			border: .2vw solid #EEB74D;
			border-radius: .4vw;
			padding: 1.4vw;
			box-shadow: 0vw .2vw 3vw .5vw rgba(0, 0, 0, 0.348);

			.name{
				font-size: 1.6vw;
			}
			hr{
				border: none;
				height: 2px;
				background-color: white;
				margin: .5vw 0;
			}
			.dialogue{
				font-size: 1vw;
			}
			.continue-dialogue{
				position: absolute;
				pointer-events: none;
				width: 100%;
				height: 100%;
				top: 0%;
				right: -2%;
				svg{
					position: absolute;
					right: 5%;
					bottom: 0%;
					animation: continue-dialogue 1s infinite ease-in-out;
					height: 1.5vw;
					overflow: .2;
					width: 1.5vw;
				}
			}
		}
	}
}

@keyframes continue-dialogue {
	from{
		bottom: 5%;
	}
	50%{
		bottom: 10%;
	}
	to{
		bottom: 5%;
	}
}

@media screen and (max-width:1024px) {
	#container_commission .commission-info-panel{
		width: 55vw;
		height: 40vw;
		padding-top: 5vw;
		left: 10%;
	}
}

@media screen and (max-width:768px) {
	#container_commission .commission-info-panel .showcase{
		transform: initial;
	}
	#container_commission .commission-info-panel{
		left: 0;
		width: 75%;
		top: 100px;
		height: 100%;
		overflow: auto;
		padding-bottom: 500px;
		max-height: 80vh;
	}
	#container_commission .commission-info-panel .decor .text-part{
		font-size: 15px;
		left: -4%;
	}
	#container_commission .commission-info-panel .detail{
		text-align: center;
		.title{
			font-size: 30px;
		}	
		.sub-title{
			font-size: 20px;
		}
		.price{
			font-size: 45px;
		}
	}

	#container_commission .commission-info-panel .showcase .img-part{
		display: flex;
		flex-direction: column;
		max-width: initial;
		max-height: 100%;
		.decor{
			opacity: 0%;
		}
		img{
			height: 100% !important;
			max-height: 40vw;
		}
	}
	#container_commission .character{
		display: none;
	}
	#container_commission .cards{
		padding: 0;
		left: 0%;
		bottom: 10%;
		height: 30vw;
		justify-content: center;
	}
	#container_commission .commission-info-panel .showcase .title{
		font-size: 12px;
		text-align: center;
	}
	#container_commission .cards .card{
		width: 20vw;
		.name{
			font-size: 13px;

		}
		.icon{
			width: 50%;
		}
	}
	#container_commission .commission-info-panel .decor .decor_cloud{
		width: 20vw;
		right: -9%;
		bottom: -5%;
	}
	
}